{{ define "partials/job_row" }}
<tr id="{{ .ViewModel.Name }}">
	<td> <!-- status -->

		{{ if .ViewModel.JobConfig.HistoryDisabled | not  }}

		<!-- if history is disabled -->
		{{ if .ViewModel.Current }}
		<div uk-tooltip="Job is currently running" uk-spinner="ration: 0.5"></div>
		{{ else if .ViewModel.Last }}

		{{ if .ViewModel.Last.JobInvocation.Status | eq "cancelled" }}
		<span class="uk-text-warning" uk-icon="warning" uk-tooltip="Last invocation cancelled"></span>
		{{ else if .ViewModel.Last.JobInvocation.Status | eq "errored" }}
		<span class="uk-text-danger" uk-icon="warning" uk-tooltip="Last invocation failed"></span>
		{{ else if .ViewModel.Last.JobInvocation.Status | eq "complete" }}
		<span class="uk-text-success" uk-icon="check" uk-tooltip="Last invocation completed successfully"></span>
		{{ else }}
		<span class="uk-text-primary" uk-icon="question" uk-tooltip="Last invocation state is unknown"></span>
		{{ end }}

		{{ else }}
		<span class="uk-text-primary" uk-icon="question" uk-tooltip="Job has no history"></span>
		{{ end }}

		{{ else }}

		{{ $stats := .ViewModel.Stats }}

		<!-- otherwise use success rate -->
		{{ if .ViewModel.Current }}
		<div uk-tooltip="Job is currently running" uk-spinner="ration: 0.5"></div>

		{{ else if $stats.RunsTotal }}

		{{ if $stats.SuccessRate | eq 1.0 }}
		<span class="uk-text-success" uk-icon="check" uk-tooltip="Job is healthy"></span>
		{{ else if $stats.SuccessRate | gt 0.8 }}
		<span class="uk-text-warning" uk-icon="warning" uk-tooltip="Job has at least an 80% success rate"></span>
		{{ else if $stats.SuccessRate | gt 0.5 }}
		<span class="uk-text-danger" uk-icon="warning" uk-tooltip="Job has at least a 50% success rate"></span>
		{{ else }}
		<span class="uk-text-danger" uk-icon="warning" uk-tooltip="Job has less than a 50% success rate"></span>
		{{ end }}

		{{ else }}
		<span class="uk-text-primary" uk-icon="question" uk-tooltip="Job has no history"></span>
		{{ end }}

		{{ end }}
	</td>
	<td>
		<a class="uk-button uk-button-link" href="/job/{{ .ViewModel.Name | urlencode }}">{{ .ViewModel.Name }}</a>
	</td>
	<td> <!-- schedule -->
	{{ if .ViewModel.Schedule }}
		{{ .ViewModel.Schedule }}
	{{ else }}
		<span>-</span>
	{{ end }}
	</td>
	<td> <!-- schedule -->
	{{ if .ViewModel.JobConfig.Timeout }}
		{{ .ViewModel.JobConfig.Timeout | duration_round_millis }}
	{{ else }}
		<span>-</span>
	{{ end }}
	</td>
	<td> <!-- next run-->
	{{ if .ViewModel.Config.Disabled }}
		<span>-</span>
	{{ else }}
		{{ .ViewModel.NextRuntime | rfc3339 }}
	{{ end }}
	</td>
	<td> <!-- last run -->
	{{ if .ViewModel.Last }}
		{{ .ViewModel.Last.Finished | since_utc | duration_round_seconds }} ago
	{{ else }}
		<span class="none">-</span>
	{{ end }}
	</td>
	<td> <!-- job links -->
		{{ if .ViewModel.Current }}
		<a class="uk-button uk-button-secondary" href="/job.invocation/{{ .ViewModel.Name | urlencode }}/{{ .ViewModel.Current.ID }}" uk-icon="reply" uk-tooltip="Show the current invocation output"></a>
		{{ else if .ViewModel.Last }}
		<a class="uk-button uk-button-default" href="/job.invocation/{{ .ViewModel.Name | urlencode }}/{{ .ViewModel.Last.ID }}" uk-icon="reply" uk-tooltip="Show the last invocation output"></a>
		{{ else }}
		<a class="uk-button uk-button-default uk-button-disabled" uk-icon="reply" uk-tooltip="Job has no history" disabled></a>
		{{ end }}

		{{ if .Ctx.State.Get "show-job-history-link" }}
		<a class="uk-button uk-button-default" href="/job/{{ .ViewModel.Name | urlencode }}" uk-icon="history" uk-tooltip="Show job stats and history"></a>
		{{ end }}
	</td>
	<td> <!-- actions -->
	{{ if .ViewModel.Disabled }}
		<a class="uk-button uk-button-default" href="/job.enable/{{ .ViewModel.Name | urlencode }}" uk-icon="future" uk-tooltip="Enable the job"></a>
	{{else}}
		<a class="uk-button uk-button-secondary" href="/job.disable/{{ .ViewModel.Name | urlencode }}" uk-icon="ban" uk-tooltip="Disable the job"></a>
	{{end}}
	{{ if .ViewModel.Current }}
		<a class="uk-button uk-button-danger" href="/job.cancel/{{ .ViewModel.Name | urlencode }}" uk-icon="close" uk-tooltip="Cancel the running job"></a>
	{{ else }}
		<a class="uk-button uk-button-primary" href="/job.parameters/{{ .ViewModel.Name | urlencode }}" uk-icon="play" uk-tooltip="Force the job to run"></a>
	{{ end }}
	</td>
</tr>
{{ end }}
