{{ define "index" }}
{{ template "header" . }}
<div id="content" class="uk-container uk-container-expand">
	<div class="uk-child-width-expand@s" uk-grid>
		<div>
			<ul class="uk-breadcrumb">
				<li><a href="/">Jobs</a></li>
			</ul>
		</div>
	</div>
	{{ template "partials/job_table_header" }}
		{{ $vm := . }}
		{{ range $index, $job := .ViewModel }}
			{{ template "partials/job_row" ( $vm.Wrap $job ) }}
			{{ else }}
			<tr><td colspan=11>No jobs loaded or matched the search selector.</td></tr>
			{{ end }}
	{{ template "partials/job_table_footer" }}
</div>
{{ template "footer" . }}
{{ end }}
