{{ define "job" }}
{{ template "header" . }}
<div id="content" class="uk-container uk-container-expand">
	<div class="uk-child-width-expand@s" uk-grid>
		<div>
			<ul class="uk-breadcrumb">
				<li><a href="/">Jobs</a></li>
				<li><a href="/job/{{ .ViewModel.Name | urlencode }}">{{ .ViewModel.Name }}</a></li>
			</ul>
		</div>
	</div>
	{{ template "partials/job_table_header" }}
	{{ template "partials/job_row" .Wrap .ViewModel.Status }}
	{{ template "partials/job_table_footer" }}
	<hr/>
	<div class="uk-grid uk-grid-divider uk-grid-small uk-child-width-1-5 uk-text-center">
		{{ $stats := .ViewModel.Stats }}
		<div class="uk-first-column">
			<span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="social"></span>Success Rate</span>
			{{ $successRateClass := "uk-text-danger" }}
			{{ if gt $stats.SuccessRate 0.9 }}
			{{ $successRateClass = "uk-text-success" }}
			{{ else if gt $stats.SuccessRate 0.7 }}
			{{ $successRateClass = "uk-text-warning" }}
			{{ end }}
			<h1 class="{{ $successRateClass }}">
				{{ $stats.SuccessRate | format_pct }}
			</h1>
		</div>
		<div>
			<span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="hashtag"></span>Total Runs</span>
			<h1 class="uk-text-primary">
				{{ $stats.RunsTotal }}
			</h1>
		</div>
		<div>
			<span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="hashtag"></span>Failed Runs</span>
			<h1 class="{{ if $stats.RunsFailed | eq 0 }}uk-text-primary{{else}}uk-text-danger{{end}}">
				{{ $stats.RunsFailed }}
			</h1>
		</div>
		<div>
			<span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="clock"></span>P95 Elapsed Time</span>
			<h1 class="uk-text-primary">
				{{ $stats.Elapsed95th | duration_round_millis }}
			</h1>
		</div>
		<div>
			<span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="clock"></span>P50 Elapsed Time</span>
			<h1 class="uk-text-primary">
				{{ $stats.Elapsed50th | duration_round_millis }}
			</h1>
		</div>
	</div>
    <div class="uk-grid uk-grid-divider uk-grid-small uk-child-width-1-5 uk-text-center">
		<div class="uk-first-column">
            <span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="history"></span>History</span>
            {{ if .ViewModel.Status.HistoryDisabled }}
            <h3 class="uk-text-danger">Disabled</h3>
            {{ else }}
            <h3 class="uk-text-primary">Enabled</h3>
            {{ end }}
        </div>
		<div>
            <span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="history"></span>History Persistence</span>
            {{ if .ViewModel.Status.HistoryPersistenceDisabled }}
            <h3 class="uk-text-danger">Disabled</h3>
            {{ else }}
            <h3 class="uk-text-primary">Enabled</h3>
            {{ end }}
        </div>
		<div>
            <span class="uk-text-small"><span class="uk-text-primary uk-margin-small-right" uk-icon="history"></span>Retention</span>
            {{ if .ViewModel.Status.HistoryMaxCount }}
            <h3 class="uk-text-primary">{{ .ViewModel.Status.HistoryMaxCount }} items</h3>
            {{ else if .ViewModel.Status.HistoryMaxAge }}
            <h3 class="uk-text-primary">{{ .ViewModel.Status.HistoryMaxAge | duration_round_millis }} age</h3>
            {{ else }}
            <h3>-</h3>
            {{ end }}
        </div>
    </div>
	<hr/>
	{{ if .ViewModel.Description }}
	<div class="uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-1">
		<div>
			<span class="uk-text-small">Job Body</span>
			<pre>{{ .ViewModel.Description }}</pre>
		</div>
	</div>
	<hr/>
	{{ end }}
	<span class="uk-text-small">
		Previous Invocations
	</span>
	<table class="uk-table uk-table-small uk-table-striped">
		<thead>
			<tr>
				<th>Started</th>
				<th>Finished</th>
				<th>Status</th>
				<th>Elapsed</th>
				<th>Error</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{{ if .ViewModel.Current }}
			<tr>
				<td class="uk-table-shrink">{{ .ViewModel.Current.Started | rfc3339 }}</td>
				<td class="uk-table-shrink">{{ if .ViewModel.Current.Finished.IsZero }}-{{ else }}{{ .ViewModel.Current.Finished | rfc3339 }}{{ end }}</td>
				<td class="uk-table-shrink">{{ .ViewModel.Current.State }}</td>
				<td class="uk-table-shrink">{{ if .ViewModel.Current.Finished.IsZero}}{{ .ViewModel.Current.Started | since_utc | duration_round_millis }}{{ else }}{{.ViewModel.Current.Elapsed | duration_round_millis }}{{end}}</td>
				<td class="uk-table-expand uk-text-truncate">{{ if .ViewModel.Current.Err }}<code>{{ .ViewModel.Current.Err }}</code>{{ else }}-{{end}}</td>
				<td class="uk-table-shrink"><a class="uk-button uk-button-primary"href="/job.invocation/{{ .ViewModel.Current.JobName | urlencode }}/{{ .ViewModel.Current.ID }}">Output</td>
			</tr>
		{{ end }}
		{{ range $index, $ji := .ViewModel.History | reverse }}
			<tr>
				<td class="uk-table-shrink">{{ $ji.Started | rfc3339 }}</td>
				<td class="uk-table-shrink">{{ if $ji.Finished.IsZero }}-{{ else }}{{ $ji.Finished | rfc3339 }}{{ end }}</td>
				<td class="uk-table-shrink">{{ $ji.State }}</td>
				<td class="uk-table-shrink">{{ $ji.Elapsed }}</td>
				<td class="uk-table-expand uk-text-truncate">{{ if $ji.Err }}{{ $ji.Err }}{{ else }}-{{end}}</td>
				<td class="uk-table-shrink"><a class="uk-button uk-button-secondary" href="/job.invocation/{{ $ji.JobName | urlencode }}/{{ $ji.ID }}">Output</td>
			</tr>
		{{ end }}
		</tbody>
	</table>
</div>
{{ template "footer" . }}
{{ end }}
