{{ define "parameters" }}
{{ template "header" . }}
<div id="content" class="uk-container uk-container-expand">
	<div class="uk-child-width-expand@s" uk-grid>
		<div>
			<ul class="uk-breadcrumb">
				<li><a href="/">Jobs</a></li>
				<li><a href="/job/{{ .ViewModel.Name | urlencode }}">{{ .ViewModel.Name }}</a></li>
				<li>Run With Parameters</li>
			</ul>
		</div>
	</div>
	<div class="uk-grid uk-grid-divider uk-grid-small uk-child-width-1-1">
		<form action="/job.run/{{ .ViewModel.Name | urlencode }}" class="uk-form-horizontal">
		{{ range $index, $param := .ViewModel.Config.Parameters }}
			<div>
				{{ $param.RenderLabel "class='uk-form-label'" }}
				<div class="uk-form-controls">
				{{ $param.RenderInput "class='uk-input'" }}
				</div>
			</div>
		{{ else }}
			<div>Job has no parameters</div>
		{{ end }}
		<input type="submit" value="Run Job"/>
		</form>
	</div>
</div>
{{ template "footer" . }}
{{ end }}